/prj/CSFiltr.suo
/prj/Debug/CL.read.1.tlog
/prj/Debug/CL.write.1.tlog
/prj/Debug/CSFiltr.exe
/prj/Debug/CSFiltr.exe.intermediate.manifest
/prj/Debug/CSFiltr.ilk
/prj/Debug/CSFiltr.lastbuildstate
/prj/Debug/CSFiltr.log
/prj/Debug/CSFiltr.pdb
/prj/Debug/CSFiltr.vcxprojResolveAssemblyReference.cache
/prj/Debug/CSFiltr.write.1.tlog
/prj/Debug/cl.command.1.tlog
/prj/Debug/link.command.1.tlog
/prj/Debug/link.read.1.tlog
/prj/Debug/link.write.1.tlog
/prj/Debug/main.obj
/prj/Debug/mt.command.1.tlog
/prj/Debug/mt.read.1.tlog
/prj/Debug/mt.write.1.tlog
/prj/Debug/vc100.idb
/prj/Debug/vc100.pdb
/prj/Release/CL.read.1.tlog
/prj/Release/CL.write.1.tlog
/prj/Release/CSFiltr.exe
/prj/Release/CSFiltr.exe.intermediate.manifest
/prj/Release/CSFiltr.lastbuildstate
/prj/Release/CSFiltr.log
/prj/Release/CSFiltr.pdb
/prj/Release/CSFiltr.write.1.tlog
/prj/Release/cl.command.1.tlog
/prj/Release/link.command.1.tlog
/prj/Release/link.read.1.tlog
/prj/Release/link.write.1.tlog
/prj/Release/main.obj
/prj/Release/mt.command.1.tlog
/prj/Release/mt.read.1.tlog
/prj/Release/mt.write.1.tlog
/prj/Release/vc100.pdb
/prj/ipch/csfiltr-13bc9b1b/csfiltr-1d3fc9dd.ipch
/prj/ipch/csfiltr-13bc9b1b/csfiltr-8ef9ade3.ipch
*.ipch
*.tlog
/prj/x64/Debug/CSFiltr.exe
/prj/x64/Debug/*.log
/prj/x64/Debug/*.obj
/prj/x64/Debug/vc100.pdb
/prj/x64/Debug/*.ilk
/prj/x64/Debug/*.pdb
/prj/x64/Debug/*.idb
/prj/x64/Debug/*.cache
/prj/x64/Debug/*.manifest
/prj/x64/Debug/*.lastbuildstate
